.container {
  border-radius: 100px;
  background: var(--green-100);

  display: flex;
  padding: 4px 8px 4px 4px;
  align-items: center;
  gap: 4px;

  color: var(--black-400);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  transition: 300ms;
}
