.knob {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  transition: left 3000ms, right 3000ms;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.input:checked ~ .container .knob {
  right: 0;
  background-color: #fff;
}

.input:not(:checked) ~ .container .knob {
  left: 0;
  background-color: #fff;
}

.container {
  position: relative;
  display: flex;
  border: 1px solid var(--green-200);
  border-radius: 300px;
  width: 40px;
  height: 21px;
  background-color:var(--green-200);;
}

.input:checked ~ .container {
  background-color: var(--green-500);
  border-radius: 300px;
  width: 40px;
  height: 21px;
}
