.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-self: stretch;
}

.card {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 0.5rem;
  align-items: center;
}

.card > span {
  overflow: hidden;
  white-space: nowrap;
  color: var(--dark-blue-500, #091525);
  text-overflow: ellipsis;

  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.16px;
}

.card a {
  text-decoration: none;
  margin-left: auto;
  border-radius: 10px;
  background: #edf3fc;
  padding: 10px 20px;
}
