.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 1.25rem;
}

.container .options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.container .dates {
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
}