.container {
  padding: 1.25rem;
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.link {
  border-radius: 6px;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #edf3fc;
}

.container h3 {
  display: grid;
  grid-template-columns: 1fr auto;
  color: var(--dark-blue-500, #091525);

  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
}

.first {
  display: grid;
  grid-template-columns: 1fr auto;
}

.container .viewMore {
  color: var(--blue-500);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.prompt svg {
  transition: 300ms;
}

.prompt:hover svg {
  transform: translateX(0.6rem);
}

.prompt:hover {
  filter: brightness(1.5);
}
