.container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.2rem 0.5rem;
}

.container img {
  grid-column: 1;
  grid-row: 1 / span 2;
  margin: auto;
}

.avatar {
  width: 32px;
}

.avatar::before {
  background: var(--dark-blue-500, #091525);
}
