.nav {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding-block: 2rem;
  padding-left: 42px;
  height: min(100%, 1200px);

  min-width: 236px;

  color: #70897B;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: -0.01em;
  text-align: left;
}

.qLogo {
  display: none;
}

.nav .items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
  height: 100%;
}

.nav menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 0.5rem;
}

.nav .logout {
  display: flex;
  gap: 1rem;
  align-items: center;
  text-align: center;
  list-style: none;
}

.nav .logout button {
  color: var(--blue-400);

  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.logout {
  padding-left: 15px;
}

.logout button {
  display: flex;
  padding-inline: 0;
  gap: 1rem;
}

.logo {
  margin-inline: auto;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 1050px) {
  .title {
    display: none;
  }

  .nav {
    padding: 1rem;
  }

  .desktopLogo {
    display: none;
  }

  .qLogo {
    display: block;
    aspect-ratio: 1/1;
    height: 35px;
    width: 35px;
  }

  .items li,
  .items li a {
    padding-right: 0;
    padding: 0.5rem;
    border-radius: 12px;
  }

  .nav .logout {
    padding: 0;
    padding-left: 1rem;
  }
}