.container {
    display: flex;
    flex-direction: column;
}

.filternExport {
    display: flex;
    gap: 1rem;
}

@media screen and (max-width: 420px) {
    .container {
        padding-inline: 1rem;
    }
}