.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1.25rem;
}

.container nav {
  display: flex;
  background: var(--dark-blue-100);
  width: fit-content;
  border-radius: 10px;
}

.container .link {
  padding: 10px 20px;
  background: #00000000;
  border-radius: 10px;
  border: none;
}

.container .link.active {
  background: var(--blue-100);
}
